{% extends "base.html" %}
{% block title %}
    留言板
{% endblock %}
{% block body %}
    <div class="container">
        <div class="form-group">
            <form action="/message/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <h1 class="text-center">留言板</h1>
                    <label>
                        <input type="text" name="name" class="form-control align-content-center" placeholder="昵称" >
                    </label>
                </div>
                <div class="form-group" >
                    <label>
                        <textarea rows=4  cols="80%" type="text" name="content" placeholder="请输入留言内容" class="form-control el-textarea"></textarea>
                    </label>
                </div>
                <div>
                    <input type="submit" name="" value="点我留言" class="btn btn-primary text-center">
                </div>
                <div class="text-danger">{{ error }}</div>
            </form>
        </div>
        <table class="table">
        <tr>
            <th>留言人</th>
            <th>留言内容</th>
            <th>留言时间</th>
        </tr>

        {% for i in data %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.content }}</td>
                <td>{{ i.time }}</td>
            </tr>
        {% endfor %}
    </table>

    </div>





{% endblock body %}